.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}
.feature-highlight picture img{
  width: 150px; /* Set the width of the image */
  height: 150px; /* Set the height of the image */
  border-radius: 50%; /* Make the image round */
  object-fit: cover; /* Ensure the image fits within the round shape */
  display: block; /* Optional: Ensures the image behaves like a block element */
}
.feature-highlight > div {
     padding: 20px 20px 20px 20px;
}
.feature-highlight > div > div {
     padding: 20px 20px 20px 20px;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}
