.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}
.feature-highlight picture img{
  height: 300px; /* Set the desired height */
  display: block; /* Ensure the picture element behaves like a block-level element */
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }
    .feature-highlight > div {
        display: flex;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}
