.offer-card {
  display: flex;
  width: 344px;
  height: 358px;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 16px;
  background: #FFD9F7;
}

.offer-card-content {
  padding: 20px;
}
.offer-card h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
  margin-top: 20px
}
.pink-background {
  background-color: #ffcccb;
  h3 {
    color:  #DA1710;
  }
}

.white-background {
  background-color: #F9F9FB;
  
  h3 {
    color:  #DA1710;
    font-size: 20px;
    text-transform: none;
    }
}

.image-background {
  background-size: cover;
  background-position: center;
  color: white;
  h3 {
    color:  #FFF;
  }
}


.offer-card p {
  color: #181B25;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.credit-card-image {
  width: 292.915px;
  height: 184.279px;
  transform: rotate(-20.114deg);
  justify-content: center;
  align-items: center;
  aspect-ratio: 151/95;
  border-radius: 16px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  margin-top: 60px;
}